In [2]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
Base.classes.keys()

['measurement', 'station']

## D1: Determine the Summary Statistics for June

In [14]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
temps_for_june = session.query(Measurement.date, Measurement.tobs).filter(extract ("month", Measurement.date) == 6).all()

# test
#print(temps_for_june)

In [16]:
#  3. Convert the June temperatures to a list.
temps_for_june_list = session.query(Measurement.tobs).filter(extract ("month", Measurement.date) == 6).all()

# test
#print(temps_for_june_list)

In [8]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(temps_for_june_list, columns=["June Temps"])
june_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temps_for_dec = session.query(Measurement.date, Measurement.tobs).filter(extract ("month", Measurement.date) == 12).all()

# test
#print(temps_for_dec)

In [11]:
# 7. Convert the December temperatures to a list.
temps_for_dec_list = session.query(Measurement.tobs).filter(extract ("month", Measurement.date) == 12).all()

# test
#print(temps_for_dec_list)

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(temps_for_dec_list, columns=["December Temps"])
dec_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [19]:
# 10. Write a query that filters the Measurement table to retrieve the precipitation for the month of June.
rains_for_june = session.query(Measurement.date, Measurement.prcp).filter(extract ("month", Measurement.date) == 6).all()

# test
#print(rains_for_june)

In [21]:
# 11. Convert the June temperatures to a list.
rains_for_june_list = session.query(Measurement.prcp).filter(extract ("month", Measurement.date) == 6).all()

# test
#print(rains_for_june_list)

In [24]:
# 12. Create a DataFrame from the list of precipitation for the month of June. 
june_rain_df = pd.DataFrame(rains_for_june_list, columns=["June Rains"])
june_rain_df.head()

   June Rains
0        0.00
1        0.01
2        0.00
3        0.00
4        0.00

In [23]:
# 13. Summary Statistics for June Rains
june_rain_df.describe()

       December Temps
count     1574.000000
mean         0.136360
std          0.335731
min          0.000000
25%          0.000000
50%          0.020000
75%          0.120000
max          4.430000

In [25]:
# 14. Write a query that filters the Measurement table to retrieve the precipitation for the month of December.
rains_for_dec = session.query(Measurement.date, Measurement.prcp).filter(extract ("month", Measurement.date) == 12).all()

# test
#print(rains_for_dec)

In [26]:
# 15. Convert the December precipitation to a list.
rains_for_dec_list = session.query(Measurement.prcp).filter(extract ("month", Measurement.date) == 12).all()

# test
#print(rains_for_dec_list)

In [27]:
# 16. Create a DataFrame from the list of precipitation for the month of December. 
rains_for_dec_df = pd.DataFrame(rains_for_dec_list, columns=["December Rains"])
rains_for_dec_df.head()

   December Rains
0            0.04
1            0.00
2            0.00
3            0.00
4            0.00

In [28]:
# 17. Summary Statistics for December Rains
rains_for_dec_df.describe()

       December Rains
count     1405.000000
mean         0.216819
std          0.541399
min          0.000000
25%          0.000000
50%          0.030000
75%          0.150000
max          6.420000